 
body {text-align: center;}
 h1 {background-color: rgb(0,0,0);
 	color: white;
 	
 	padding-bottom: 30px;
 	padding-top: 30px;
 	font-size: 30px;
 }
 

 .content {
 	padding-left: 300px;
 	
 	font-size: 20px;
 	padding-right: 300px;
 }
 .menu {position: fixed;
 	float: left;
 	background-color: rgb(110,110,110);
 	padding-left: 100px;
 	padding-right: 100px;
 	padding-top: 100px;
 	padding-bottom: 600px;
 	margin-top: -70px;
 }
 .class {margin-right: 0px;}
a {color: white;}
.links-one{
	color: black;
	text-decoration: none;
}
.links-two {color: black;
font-weight:bold;
text-decoration: none;}

