body {background-image: url(image/mylBackground.jpg);
background-size:cover;
background-attachment: fixed;}
.content {
float-right;
margin-left:60%;
margin-top: 20%;
padding-bottom: 5%;

margin-bottom: 20%;
background-color:rgba(255,255,255,0.65);}
.desc{
	
}
h2
{font-size: 50px;
	
}
p{ font-size: 20px;

}
audio {margin-top: 70px;
float: right;}
h5 {color:white;
float: right;
background-color: rgba(100,100,100,0.5);}
#menu {word-spacing: 3% ; font-style: bold;
font-size:20px;

/*margin-right: 500px;
padding-left: 300px;
margin-left: 300px;*/
text-align: center;}

a{
	color: black;
}