 /*background-image: url(image/field.jpg);*/
body {
	background-size: cover;
	background-attachment: fixed;
	background-position: top, bottom;
	background-color:white;
}

.topLink {margin-left: 0.5%;
padding-top: 15px;
padding-bottom:40px;
padding-right: 30px;
padding-left: 30px;
background-color: rgba(150,150,150,0.7);
display:inline;
float:left-top;
position:fixed;
height: 18%
color:black;}

h2{
	padding:20px; 
	
	background-color: black; 
	color: white;
	border-style:solid;
	border-color: white;
	border-width: 2px;
	/*margin-right: 100px;
	margin-left: 40px;*/
	text-align: center;

}
div{
margin-right: 100px;
margin-left: 40px;
padding-right: 30px;}
.right { font-family: Arial, sans-serif;
	float: right;
	margin-left: 80px;
padding-bottom:20px;
padding-top: 20px; 
padding-left: 50px;
padding-right: 60px;
border-style: solid;
border-color: black;
border-width: 1px;}
#end{font-family: Arial, sans-serif;
font-size: 20px;
padding-left: 15px;
}
a {color: white;}